streamlit
requests
pdfplumber
pandas
plotly
beautifulsoup4
edge-tts
easyocr
opencv-python-headless
numpy
supabase
pinecone-client
langchain-pinecone
langchain-community
langchain-huggingface
sentence-transformers
pypdf
langchain-pinecone>=0.1.0
pinecone-client>=3.0.0